@model Painting
<center>
    <p>
        @Model.Name, @Model.Year
    </p>
    <p>
        @Model.Painter.FirstName @Model.Painter.FirstName
    </p>
    <p>
        @Model.Medium, @Model.Size_x. x @Model.Size_y
    </p>

    @Model.Description


    <a asp-action="Painting" asp-route-id="@ViewBag.Prev">Предыдущая</a>
    <a asp-action="Painting" asp-route-id="@ViewBag.Next">Следующая</a>
</center>
