@model Painting
<left>
        <a asp-route-Id="@Model.Id" asp-action="PaintingReport" class="btn btn-primary mx-2">
            Отчет
        </a>
    </left>
<center>
    <p>
        @Model.Name, @Model.Year
    </p>
    <p>
        @Model.Painter.FirstName @Model.Painter.FirstName
    </p>
    <p>
        @Model.Medium, @Model.Size_x. x @Model.Size_y
    </p>

    @Model.Description


    <a asp-action="Painting" asp-route-id="@ViewBag.Prev" class="btn btn-primary mx-2">Предыдущая</a>
    <a asp-action="Painting" asp-route-id="@ViewBag.Next" class="btn btn-primary mx-2">Следующая</a>
</center>
